$text-font:"Montserrat", sans-serif;
$title-font:"Playfair Display" , serif;
$light-black:#333;




body {
    font-family: $text-font;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  h1{
    font-family: $title-font;
    font-weight: 800;
  }
  
  .container {
    display: flex;
    flex: 1; 
  }
  
  aside {
    background-color: #f0f0f0;
    padding: 20px;
    min-width: 200px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0.25rem;
    li {
        margin-bottom: 10px;
        padding: 0.25rem;
        a{
          text-decoration: none;
          color: $light-black;
          font-weight: 400;
        }
        a:hover,
        a:active,
        a:focus {
          color: #000;
        }
     }
    }
  
  main {
    padding: 20px;
    flex: 1;
  }
  
  #tasks, #projects, #daily-tasks {
    display: none;
  }
  
  footer{
    height: min-content;
    font-size: 12px ;
    background-color: $light-black;
    color: #fff;
    padding: 4px;
    text-align: center;
    margin-top: auto; 
  }